@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --font-sans: "Noto Sans TC", sans-serif;
}

@layer components {
  section {
    @apply flex w-full;
  }
  img {
    @apply object-cover;
  }
  .iconImg {
    @apply max-w-[80px] aspect-square p-3 object-contain;
  }
}
.swiper-pagination-bullet {
  background: #fff !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 11px !important;
}


.swiper-pagination-bullet-active {

}